@import url("reset.css");

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.global-wrapper {
    min-height: 100vh;
    background: #f6f8f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 480px;
    padding: 64px 48px 40px 48px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
    color: #6f7782;
}

.signup-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    width: auto;
    height: 55px;
}

.signup-form__header > div {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

.signup-form__body {
    margin-top: 60px; /* adjust later, need responsive care */
    font-size: 12px;
}

.input-wrapper--col {
    display: flex;
    flex-direction: column;
}

.name-input-wrapper {
    display: flex;
    flex-direction: row;
}

.input-wrapper--ml {
    margin-left: 16px;
}

.input-wrapper--mt {
    margin-top: 16px;
}

.input-wrapper--col > input, .option-wrapper {
    margin-top: 8px;
}

.input-wrapper--col > input {
    padding: 4px 12px;
    border: 1px solid #cbd4db;
    border-radius: 6px;
    height: 36px;
    font-family: inherit;
    font-size: 14px;
}

.input-wrapper--col > input:focus {
    outline: none;
    border-color: rgb(132, 141, 149);
    box-shadow: inset 0 1px #e8ecee;
}

.input-with-eye {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding: 0 12px;
    height: 36px;
    border: 1px solid #cbd4db;
    border-radius: 6px;
}

.input-with-eye > input {
    outline: none;
    border: none;
    font-size: 14px;
    font-family: inherit;
    width: 100%;
}

.input-with-eye > i {
    width: 15px;
    margin-left: 12px;
    cursor: pointer;
}

.alert-area {
    display: none;
    flex-direction: row;
    margin-top: 8px;
}

.alert-icon {
    width: 16px;
    height: 16px;
}

.alert-message {
    margin-left: 8px;
    font-family: inherit;
    font-size: 14px;
    color: #e22134;
}

.input-note {
    margin-top: 8px;
    line-height: 1.25em;
}

.option-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option-wrapper > select {
    width: 115px;
    padding: 4px 12px;
    border: 1px solid #cbd4db;
    border-radius: 6px;
    height: 36px;
    font-family: inherit;
    font-size: 14px;
}

.option-wrapper > select:focus {
    outline: none;
    border-color: rgb(132, 141, 149);
    box-shadow: inset 0 1px #e8ecee;
}

.option, .option > input, .option > label {
    cursor: pointer;
}

.option > label {
    font-size: 14px;
}

.body__terms {
    width: 100%;
    margin-top: 24px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.3;
}

.body__submit-button {
    width: 100%;
    height: 36px;
    background: #007eff;
    border: 1px solid #007eff;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: inherit;
    display: block;
    color: #fff;
    margin-top: 32px;
    cursor: pointer;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.body__submit-button:hover {
    background-color: #0056d9;
    border-color: #0051cc;
}

.signup-form__footer {
    text-align: center;
    margin-top: 24px;
}